@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");

.sectionContainer {
  position: relative;
  width: 80%;
  margin-inline: 1.5rem;
  height: 30rem;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.imageContainer {
  position: absolute;
  width: 30rem;
  height: 30rem;
  z-index: 1;
}

.textContainer {
  position: absolute;
  background-color: #82bcbd;
  color: #fff9e9;
  z-index: 2;
  width: 40vw;
  padding: 2rem;
  top: 50%;
  transform: translate(0, -50%);
  left: 25rem;
  font-family: "Red Hat Mono", monospace;
  font-size: 1.2rem;
  border: solid 2px #82bcbd;;
}

.sectionContainer:nth-child(even) .textContainer {
  right: 25rem;
  left: unset;
  background-color: #fff9e9;
  color: black;
}

.sectionContainer:nth-child(even) .imageContainer {
  right: 0rem;
}

@media (max-width: 1080px) {
  .imageContainer{
    position: static;
    width: 60vw;
    height: 60vw;
  }

  .textContainer{
    position: static;
    right: unset;
    left: unset;
    top: unset;
    width: calc(80vw - 4rem - 2px);
    transform: none;
  }

  .sectionContainer{
      display: flex;
      flex-direction: column;
      height: auto;
      align-items: center;
  }

  .sectionContainer:nth-child(even) .textContainer {
    right: unset;
    left: unset;
    position: static;
  }
}


@media (max-width: 720px) {
    .imageContainer{
        position: static;
        width: 80vw;
        height: 80vw;
      }
}
