.imageContainer {
  width: calc(100% - 3rem);
  margin-inline: 1.5rem;
  height: calc(100vh - (2.8vw + 1rem) * 2);
  background-color: #ecd18a;
}

.coverImage {
  background-image: url("../assets/images/image1.JPG");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
}

@media screen and (max-aspect-ratio: 4/3){
  .coverImage{
    background-image: url("../assets/images/image4.jpg");
  }
}
