@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");

.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.title {
  font-family: "Fruktur", cursive;
  font-weight: 400;
  text-transform: uppercase;
  color: #82bcbd;
  font-size: 2.2vw;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 4.5vw;
  }
}
